---
layout: default
---

<article class="tag_page">
    <h2>{{page.title}}</h2>
    <div class="entry">
        <ul>
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == page.tag %}
            <li class="archive_list">
                <h3 class="post_header"><a class="article_link" href='{{post.url}}'>{{post.title}}</a></h3>
                <time class="post_date" style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%d/%m/%y"}}</time>
                
                {% if post.summary %}
                <p class="summary">{{post.summary}}</p>
                {% endif %}

                <ul class="tag_list">
                {% for tag in post.tags %}
                    {% if tag != page.tag %}
                    <li class="inline archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
</article>
